/*
    <div class="wrapper">
        <nav class="navigation">
            <h1>colors</h1>

            <div>
                <a>generate</a>
                <a>explore</a>

                <button>sign up</button>
                <button>sign in</button>
            </div>
        </nav>
    </div>
*/

.wrapper {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.wrapper .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.wrapper .navigation > div {
    display: flex;
    align-items: center;
}

.wrapper .navigation h1 {
    margin: 0;
    color: dodgerblue;
}

.wrapper .navigation .divider {
    height: 1.25rem;
    width: 1px;
    background: gray;
    margin-left: 1rem;
}

.wrapper .navigation button,
.wrapper .navigation a {
    margin-left: 1rem;
    color: gray;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
}

.wrapper .navigation a:hover {
    color: #000;
}

.wrapper .navigation button {
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.75rem;
    font-size: 100%;
    border-radius: 0.25rem;
    transition: border 0.2s, color 0.2s;
}

.wrapper .navigation button {
    border: 1px solid gray;
}

.wrapper .navigation button:hover {
    border-color: #000;
    color: #000;
}

.wrapper .navigation button.primary {
    background: dodgerblue;
    border: none;
    color: #fff;
    transition: background 0.2s;
}

.wrapper .navigation button.primary:hover {
    background: rgb(29, 133, 238);
    color: #fff;
}

.hero {
    text-align: center;
    max-width: 20rem;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3rem;
    margin: 3rem 0 0 0;
}

.hero p {
    margin: 1rem 0 0 0;
    line-height: 1.5;
    color: gray;
}

.palette-wrapper {
    --gap: 1.25rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-top: 2rem;
}

.palette-wrapper .palette {
    flex: 1 1 calc((100% / 3) - 1rem);
    border: 1px solid gray;
    padding: 0.75rem;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: box-shadow 0.2s, transform 0.2s;
}


.palette-wrapper .palette:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(-0.5rem);
}

.palette-wrapper .palette .colors {
    height: 9rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 0.5rem;
}

.palette-wrapper .palette .colors .color {
    height: 100%;
    width: 100%;
}

.palette-wrapper .palette .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    margin-top: 0.75rem;
}

.palette-wrapper .palette .details p {
    margin: 0;
}