.wrapper {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.wrapper .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.wrapper .navigation > div {
    display: flex;
    align-items: center;
}

.wrapper .navigation h1 {
    margin: 0;
    color: dodgerblue;
}

.wrapper .navigation .divider {
    height: 1.25rem;
    width: 1px;
    background: gray;
    margin-left: 1rem;
}

.wrapper .navigation button {
    margin-left: 1rem;
}

.wrapper .navigation a {
    margin-left: 1rem;
    color: gray;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
}

.wrapper .navigation a:hover {
    color: #000;
}

.hero {
    text-align: center;
    max-width: 20rem;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3rem;
    margin: 3rem 0 0 0;
}

.hero p {
    margin: 1rem 0 0 0;
    line-height: 1.5;
    color: gray;
}

.palette-wrapper {
    --gap: 1.25rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-top: 2rem;
}

.palette-wrapper .palette {
    flex: 1 1 calc((100% / 3) - 1rem);
    border: 1px solid gray;
    padding: 0.75rem;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: box-shadow 0.2s, transform 0.2s;
}


.palette-wrapper .palette:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(-0.5rem);
}

.palette-wrapper .palette .colors {
    height: 9rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 0.5rem;
}

.palette-wrapper .palette .colors .color {
    height: 100%;
    width: 100%;
}

.palette-wrapper .palette .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    margin-top: 0.75rem;
}

.palette-wrapper .palette .details p {
    margin: 0;
}