<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/globals.html"); %>

    <title>coloors | explore</title>

    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/index.js" type="module"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navigation">
            <h1>coloors</h1>

            <div>
                <a href="/generate">generate</a>
                <a href="/">explore</a>

                <span class="divider"></span>

                <button>sign in</button>
                <button class="primary">sign up</button>
            </div>
        </nav>

        <section class="hero">
            <h1>Amazing Color Palettes</h1>
            <p>Get inspired by hundreds of beautiful palettes for your next big project</p>
        </section>

        <section class="palette-wrapper"></section>

        <footer>
            Nathan Pham, made with ❤
        </footer>
    </div>
</body>
</html>