<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/globals.html"); %>

    <title>coloors | explore</title>

    <link rel="stylesheet" href="/css/pages/index.css" />
</head>
<body>
    <!-- <div class="preloader">
        <div class="spinner"></div>
    </div> -->

    <div class="wrapper">
        <%- include("./components/navigation.html"); %>

        <section class="hero">
            <h1>Inspirational Color Palettes</h1>
            <p>Fuel your next big idea with hundreds of beautiful palettes</p>
            <div class="icon-scroll"></div>            
        </section>

        <section class="palette-wrapper">
            <div class="palette">
                <div class="colors">
                    <div class="color" style="background: red"></div>
                    <div class="color" style="background: blue"></div>
                </div>

                <div class="details">
                    <p>0 saves</p>
                    <ion-icon name="ellipsis-horizontal"></ion-icon>
                </div>
            </div>
            <div class="palette">
                <div class="colors">
                    <div class="color" style="background: red"></div>
                    <div class="color" style="background: blue"></div>
                </div>

                <div class="details">
                    <p>0 saves</p>
                    <ion-icon name="ellipsis-horizontal"></ion-icon>
                </div>
            </div>
            
            <div class="palette">
                <div class="colors">
                    <div class="color" style="background: red"></div>
                    <div class="color" style="background: blue"></div>
                </div>

                <div class="details">
                    <p>0 saves</p>
                    <ion-icon name="ellipsis-horizontal"></ion-icon>
                </div>
            </div>
            
            <div class="palette">
                <div class="colors">
                    <div class="color" style="background: red"></div>
                    <div class="color" style="background: blue"></div>
                </div>

                <div class="details">
                    <p>0 saves</p>
                    <ion-icon name="ellipsis-horizontal"></ion-icon>
                </div>
            </div>
            
            <div class="palette">
                <div class="colors">
                    <div class="color" style="background: red"></div>
                    <div class="color" style="background: blue"></div>
                </div>

                <div class="details">
                    <p>0 saves</p>
                    <ion-icon name="ellipsis-horizontal"></ion-icon>
                </div>
            </div>
        </section>

        <footer>
            Nathan Pham, made with ❤
        </footer>
    </div>
</body>
</html>