<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/globals.html"); %>

    <title>coloors | explore</title>

    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/index.js" type="module"></script>
</head>
<body>
    <div class="preloader">
        <div class="spinner"></div>
    </div>

    <div class="wrapper">
        <nav class="navigation">
            <h1>coloors</h1>

            <div>
                <a href="/generate">generate</a>
                <a href="/">explore</a>

                <span class="divider"></span>

                <button class="user-action">sign in</button>
                <button class="user-action primary">sign up</button>
            </div>
        </nav>

        <section class="hero">
            <h1>Inspirational Color Palettes</h1>
            <p>Fuel your next big idea with hundreds of beautiful palettes</p>
            <div class="icon-scroll"></div>            
        </section>

        <section class="palette-wrapper"></section>

        <footer>
            Nathan Pham, made with ❤
        </footer>
    </div>
</body>
</html>