<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/globals.html"); %>
    
    <title>coloors | profile</title>

    <link rel="stylesheet" href="/css/pages/user.css" />
</head>
<body>
    <div class="wrapper">
        <%- include("./components/navigation.html"); %>
    
        <div class="profile-hero">
            <div class="hero-picture">N</div>
            <h1 class="hero-title">Nathan Pham</h1>
        </div>

        <div class="palette-wrapper"></div>
    </div>
</body>
</html>